{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "entry"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "spec": true }],
    "react-hot-loader/babel",
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", {
          "useBuiltIns": "entry"
        }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-syntax-object-rest-spread",
        ["@babel/plugin-proposal-class-properties", { "spec": true }],
        "@babel/plugin-transform-runtime",
        ["module-resolver", {
          "alias": {
            "src": "./src"
          }
        }]
      ]
    }
  }
}
